.mini-calendar-wrapper {
    margin-top: 1.25rem;
}

.mini-calendar-header {
    display: flex;
    justify-content: space-between;
}

.mini-calendar-text {
    color: gray;
    font-weight: bold;
    font-size: 20px;
}

.btn-wrapper {
    margin-top: 16px;
}

.arrow {
    cursor: pointer;
    color: grey;
    background-color: white;
    border: 0.5px solid white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.arrow:hover {
    color: black;
}

.mini-calendar-display {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.display-span {
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.display-btn {
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

.display-btn:hover {
    background-color: rgb(247, 245, 245);
}

.display-btn-current {
    background-color: blue;
    border-radius: 9999px;
    color: white;
    border: none;
}

.selected {
    background-color: #89bae2;
    color: #1E40AF;
    font-weight: bold;
    border-radius: 9999px;
}