.header-calendar {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.calendar-logo {
    margin-right: .5rem;
    width: 3rem;
    height: 3rem;
}

.header-headline {
    margin-right: 2.5rem;
    color: gray;
    font-weight: bold;
}

.btn-header {
    border: 1px solid grey;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 1.25rem;
    cursor: pointer;
}

.btn-secondary {
    color: gray;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .5rem;
}