.day-container {
    border: 1px solid rgb(194, 193, 193);
    display: flex;
    flex-direction: column;
}

.day-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekday-paragraph {
    margin-top: 0.25rem;
    text-transform: uppercase;
}

.day-paragraph {
    padding: 0.25rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.day-paragraph-current {
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-radius: 50%;
    width: 1rem;
    padding: 0.25rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.day-box {
    cursor: pointer;
    /* display: flex; TODO - check if we need flex to proper display events */
    /* flex: 1; TODO - this allows the user to click on the div */
    flex: 1;
}

.green-event-container {
    background-color: #34D399;
    padding: 0.25rem;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.gray-event-container {
    background-color: gray;
    padding: 0.25rem;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.red-event-container {
    background-color: rgb(243, 51, 29);
    padding: .25rem;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    margin-bottom: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    max-width: 100%;
}

.blue-event-container {
    background-color: aqua;
    padding: 0.25rem;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; TODO */
}

.purple-event-container {
    background-color: rgb(194, 15, 194);
    padding: 0.25rem;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; TODO */
}